<div class="row">
  <div
    class="col-xs-12 col-sm-6 col-md-4 col-lg-6 col-lg-offset-3"
  >
    <div class="well about_challenge">
      <strong>Custom fields challenge</strong>
      <p> You must develop a contact list app with a login/logout system. It must allow users to create customized fields (text_field, text_area, combobox) that are not shared with other users.</p>
      <a class="btn btn-danger" href="https://github.com/romeromfm/rd-test" role="button" target="_blank">View source code on Github</a>

      <%= link_to 'Back', 'javascript:history.go(-1);', class: 'btn btn-default' %>
    </div>
  </div> 
</div>