<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation"><a href="<%= root_path %>">Home</a></li>
      <li role="presentation"><a href="#">New contact</a></li>
      <li role="presentation"><%= link_to "Logout", destroy_user_session_path, method: 'delete' %></li>      
    </ul>
  </nav>
  <h3 class="text-muted">Romero Meireles</h3>
</div>
