<div class="header clearfix">
  <nav class="header-menu">
    <ul class="nav nav-pills pull-left">
      <li role="presentation"><a href="<%= root_path %>">Home</a></li>
      <li role="presentation"><a href="#">New contact</a></li>
      <% if current_user %>
        <li role="presentation"><%= link_to "Logout", destroy_user_session_path, method: 'delete' %></li>
      <% end %>
    </ul>
  </nav>
  <h2 class="pull-right"> <span class="label label-primary"> RD Contact List Challange <span> </h2>
</div>
